body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat","Avenir";
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 20%;
	/* Transistion (perehod)*/
	transition: background 0.6s;
}

#container{
	max-width: 600px;
	/* That mean in css principles that sets left border to the same as right border and top and left equal to 0*/
	margin: 20px auto;
}
h1{
	color: white;
	text-align: center;
	background: steelblue;
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
}
#messageDisplay{
	display: inline-block;
	width: 20%;
}
#stripe{
	background:white;
	height: 30px;
	text-align: center;
	color: black;
}
.selected{
	color:white;
	background: steelblue;
}
#colorDisplay{
	font-size: 200%;
}
button{
	border:none;
	background: none;
	height: 100%;
	text-transform: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	/* make animation for 3 seconds*/
	transition: all 2.0s;
}
button:hover{
	color:white;
	background: steelblue;
}










